@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* body */
body {
    line-height: 1.6;
    background: linear-gradient(1deg, #f8f9fa 0%, #e9ecef 100%);
    margin: 0px !important;
    padding: 0px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* global styles */
h1 {
    font-size: 2rem;
    font-weight: normal;
    margin: 0px;
    padding: 20px 0 0 0;
    line-height: 1.2;
    text-align:center;
    color:black;
}

h4 {
    font-size: 1.3rem;
    margin-bottom: 2.5rem;
    color: #666;
    font-weight: 400;
    text-align: center;
}


/* nav bar */
.navbar {
    background: linear-gradient(135deg, #ba0c2f, #d10e35);
    top: 0;
    z-index: 100;
    padding: 0px !important;
    height: 176px;
}

.navbar .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
}

.navbar .navbar-header {
    font-family: "Anton";
    font-size: 3rem;
    letter-spacing: 1px;
    padding-bottom: 20px;
}


.navbar a  {
    text-decoration: none;
    color: white;
}

.navbar-links a {
    position: relative;
    font-weight: bold;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    z-index: 1;
}

.navbar-links a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0%;
    background: linear-gradient(135deg, #0032a0, #0055cc);
    z-index: -1;
    transform: translateY(-50%) scaleY(0);
    transform-origin: center;
    transition: transform 0.75s ease;
}

.navbar-links a:hover {
    color: white;
}

.navbar-links a:hover::before {
    height: 100%;
    transform: translateY(-50%) scaleY(1);
}

.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 1.5rem;
    padding: 0px !important;
}

.navbar li {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

.sm-container-blue {
    height: 8px;
    background: linear-gradient(135deg, #0032a0, #0055cc);
}

/* home page hero */
.home-hero {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.home-hero button, .join-section button{
    padding: 20px;
    font-size: 1rem;
    /*border-radius: 35px;*/
    background: linear-gradient(135deg, #ba0c2f, #d10e35);
    color: white;
    box-shadow: 0 8px 25px rgba(186, 12, 47, 0.3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    transition: all 0.4s ease;
    background-size: 200% 200%;
    border: none;
}


.home-hero button:hover, .join-section button:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, #0032a0, #0055cc);
    box-shadow: 0 8px 25px rgba(12, 21, 186, 0.3);
    border: none !important;

}

/* home content */
.home-content {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-content h2 {
background-image: linear-gradient(135deg, #0032a0, #0055cc);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;    padding-top: 40px;
    font-size: 3rem;

}
.home-content h3 {
    color: #d10e35;
}
.home-content p {
    color: #0032a0;
    font-size: .8rem;
    text-align: left;;
}

.home-content .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
    margin-bottom: 40px;
}
.home-content .card { /* responsive design later, change to cols on smaller screen*/
    margin: 20px;
    padding: 0 20 0 20;
    height: fit-content;
    min-height: 200px;
    max-width: 30%;
    transition: all 0.5s ease;
    border: none;
    background-color: white;

}

.home-content .card:hover {
    transform: scale(1.05);
}

/* home join section */
.join-section {
    padding: 40px;
    background: linear-gradient(135deg, #ba0c2f, #d10e35);
    color: white;
    text-align: center;
}
.join-section h1{
    color: white;
}

.join-section p {
    margin: 20px;
}

.join-section button {
    background: linear-gradient(135deg, #ba0c2f, #d10e35);
    border: 2px solid white;
}

.join-section button:hover {
    border: 2px solid rgba(186, 12, 47, 0.3) !important;
}

/* footer */

footer {
    background: linear-gradient(135deg, #0032a0, #0055cc);
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

footer p{
    color: white !important;
    padding: 5px !important;
    margin: 0px;
    font-size: 15px;
}