

<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static '/accounts/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MocFit+</title>
</head>
<body>
        <nav class="navbar">
        <div class="nav-container">
            <a href="/" class="logo">MocFit+</a>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/workouts/">Workouts</a></li>
                <li><a href="/community/">Community</a></li>
                <li><a href="/accounts/">Login</a></li>
            </ul>
        </div>
    </nav>
    
    <section class="login-container">
        <h1>Login</h1>

        <!-- prin message if user input is invalid -->
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p class="error">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <form method="POST" autocomplete="off" action="{% url 'my_login' %}">
            {% csrf_token %}
            <div class="login">
                {{ loginform.username.label_tag }}
                {{ loginform.username }}

                {{ loginform.password.label_tag }}
                {{ loginform.password }}
            </div>
            
            <div class="show-password">
                <input type="checkbox" id="togglePasswordLogin">
                <label for="togglePasswordLogin">Show Password</label>
            </div>
            <input type="submit" value="Login"/>


           <!--
            <label for="id_username">Username: </label>
            {{ loginform.username }}
            <input type="text" name="username" id="id_username" class="login-input" placeholder="Enter username">
            <label for="">Password: </label>
            {{ loginform.password }}

            <input type="password" name="password" id="id_password" autocomplete="current-password" class="login-input" placeholder="Enter password">
            <div class="show-password">
                <input type="checkbox" id="togglePasswordLogin">
                <label for="togglePasswordLogin">Show Password</label>
            </div>
            <input type="submit" value="Login"/>

           <button><a href="{% url 'dashboard' %}">Login</a></button>

            -->
           

        </form>
        <div class="register-div">
            <h4>First time user?</h4>
            <a href="{% url 'register' %}">Register Now</a>
        </div>
    
    </section>

  <!--
    <a href="{% url 'register' %}"> Register Here</a>

    <a href="{% url 'my_login' %}"> Login Here</a>

  -->

  
    {% load static %}
    <script src="{% static 'home/script.js' %}"></script>
</body>
</html>