@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* body */

body {
    line-height: 1.6;
    margin: 0px !important;
    background: linear-gradient(135deg, #292727 0%, #101111 100%);
    padding-top: 70px;
    font-family: 'Oswald';
    max-width: 100%;
    box-sizing: border-box;

}

/* global styles */
h1 {
    font-size: 2rem;
    font-weight: normal;
    margin: 0px;
    padding: 20px 0 0 0;
    line-height: 1.2;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

h2 {
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: uppercase;

}

h4 {
    font-size: 1.3rem;
    margin-bottom: 2.5rem;
    color: #666;
    font-weight: 400;
    text-align: center;
}

section {
    min-height: 40vh;
    padding: 80px 40px 80px 40px;

}

.generator-grid {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 40px;
    margin-bottom: 40px;

}

.generator-card {
    background: white;
    padding: 40px;
}

.generator-buttons {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap:20px;
}

.generator-btn {
    padding: 15px 20px;
    background: linear-gradient(135deg, #ba0c2f, #d10e35);
    color: white;
    border: none;
    

}

.generator-btn:hover {
    background: linear-gradient(135deg, #8b0000, #ba0c2f);
transform: scale(1.05);}

/* form dropdown */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label h4 {
    margin-bottom: 20px;
}

select {
    padding: 20px;
    font-size: 1rem;
    background: linear-gradient(135deg, #ba0c2f, #d10e35);
    color: white;
    box-shadow: 0 8px 25px rgba(186, 12, 47, 0.3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    transition: all 0.4s ease;
    background-size: 200% 200%;
    border: none;
    width: 240px;
}

select:focus {
    outline: none;
}



option {
    color: black;

}

.row {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

button.workout-gen{
            width: 240px;

    padding: 20px;
    font-size: 1rem;
    /*border-radius: 35px;*/
    background: linear-gradient(135deg, #ba0c2f, #d10e35);
    color: white;
    box-shadow: 0 8px 25px rgba(186, 12, 47, 0.3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    transition: all 0.4s ease;
    background-size: 200% 200%;
    border: none;
}


button.workout-gen:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, #8b0000, #ba0c2f);
    box-shadow: 0 8px 25px rgba(12, 21, 186, 0.3);
    border: none !important;

}

/* footer */
footer {
    background: linear-gradient(135deg, #8b0000, #ba0c2f);
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

footer p{
    color: white !important;
    padding: 5px !important;
    margin: 0px;
    font-size: 15px;
}