<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        {% load static %}
        <link rel="stylesheet" href="{% static '/accounts/style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
        <link rel="stylesheet" href="{% static '/home/style.css' %}" />
        <link rel="stylesheet" href="{% static '/community/community.css' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Achievements</title>
    </head>
    <body>
        {% include 'includes/navbar.html' %}

        <h1>These are your achievements</h1>

        <div class="sm-container-blue"></div>

        <div class="login-container">
            <!-- <a href="{% url 'update_profile' %}">Update Information Here</a
            ><br />
            <a href="{% url 'user_logout' %}"> Logout Here</a><br />
            <a href="{% url 'my_achievements' %}">Achievements</a><br />
            <a href="{% url 'home.index' %}">Home</a><br /> -->

            <div class="hero-content">
                <h1>Your Achievements</h1>
                <ul>
                    <!-- <p>You’ve generated {{ user.userprofile.workouts_generated }} workouts so far!</p> -->

                    {% for ua in achievements %}
                    <li>
                        {{ ua.achievement.name }} - earned on {{ ua.date_earned|date:"M d, Y, h:i A" }}
                    </li>
                    {% empty %}
                    <li>No achievements yet! Log in to earn some.</li>
                    {% endfor %}
                    <!-- <a href="{% url 'dashboard' %}">Dashboard</a
                    ><br />
                    <a href="{% url 'home.index' %}">Home</a
                    ><br /> -->
                </ul>
                <br>
                <button onclick="location.href='/accounts/update_profile/'">
                    Update Information
                </button>
                <button onclick="location.href='/accounts/dashboard/'">
                    Dashboard
                </button>
                <button onclick="location.href='/'">
                    Home
                </button>
                <button onclick="location.href='/accounts/user_logout'">
                    Logout
                </button>
            </div>
        </div>
    </body>
</html>
